@import url("./mainStyle.css");

:root {
  --primary-color: #EAE4D5;
  --secondary-color: #222831;
  --logo-color:#000000;
  --container-color:rgb(230, 227, 227);
}

/*  */
.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.project-title {
  text-align: center;
  font-size: 3rem;
  color: var(--logo-color);
  padding: 20px;
}

.projects .projects-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: var(--container-color);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: solid;
}

.image-project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  min-width: 400px;
  height: 100%;
}

.project-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
}

.projects .projects-container .text-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  background-color: var(--container-color);
  height: 400px;
  border-radius: 20px;
}

.projects .project-container .text-project-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--logo-color);
  padding: 10px;
}

.projects .project-container .text-project-container p {
  text-align: start;
  font-size: 1rem;
  color: var(--h1-color);
}

.project-source-btn  a{
  text-decoration: none;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 30px;
  border: none;
  border-radius: 16px;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

.project-source-btn:hover a {
  background-color: var(--logo-color);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(22, 22, 22, 0.2);
}
.text-project-container {
  overflow: hidden; /* Prevent grid overflow */
}
.projects .project-container .text-project-container ul {
  list-style: none;
  display: grid;
  max-width: fit-content;
  grid-template-columns: 1fr auto max-content;
  background: transparent;
  background-color: var(--container-color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.projects .project-container .text-project-container ul li {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
}

.projects .project-container .text-project-container ul img {
  max-width: 60px;
  max-height: 60px;

  background-color: var(--container-color);
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.seeMoreBtn {
  display: flex;
  text-align: center;
  color: var(--primary-color);
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 0.8rem 2.5rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.seeMoreBtn:hover {
 
  background-color: var(--logo-color);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(22, 22, 22, 0.2);
 
}

/* responsive */
@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }

  .image-project-container {
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
  }

  .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
            
  }

  /* .image-project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  min-width: 400px;
  height: 100%;
}

.project-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
} */

  .projects .project-container .text-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background-color: var(--container-color);
    height: auto;
    width: fit-content;
    border-radius: 20px;
  }

  .projects .project-container .text-project-container ul {
    overflow: hidden;
  }
  .projects .project-container .text-project-container p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .projects .projects-container {
    width: 380px;
  }

   .image-project-container {
    height: 220px;
    width:50%;
    overflow: hidden;
    position: relative;
    min-width: 370px;
  }

  .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
            
  }
}

/* see more btn for display card more than 4 */
