@import url("./mainStyle.css");

:root {
  --primary-color: #ffdfb9;
  --secondary-color: #a4193d;
  --logo-color: #a4193d;
  --h1-color: #772c40;
}

/* main section dipsplay */
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 20px;
   
}

.skills h1{
  font-size: 3rem;
  color: var(--logo-color);
  padding-bottom: 20px;
 
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  width: 100%;
}

/* grid tech stack */


.tech ul {
  list-style: none;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  background-color: transparent;
  border-style: solid;
  border-width:medium;
  border-color: #772c40;
  height: 100%;
  border-radius: 16px;
  
}

.frontend-container  ul {
  list-style: none;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
    
}

.tech  img{
  width: 100px;
  height: 100px;
 
  
}

.tech h3{
  font-size: 2rem;
  color: var(--h1-color);
  text-decoration: underline;
  padding-bottom: 5px;
}

/* Mobile Responsive Styles */
@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
  }

  .tech ul {
  list-style: none;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  margin: 10px 10px;
}

.tech ul img{
  width: 100px;
  height: 100px;
  margin: 0;
}
}

@media (max-width: 480px) {
}
